[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
django = "~=3.1.0"
djangorestframework = "*"
gunicorn = "==19.9.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
